h1{ /*se aplica estilo al encabezado h1*/
    color: lightpink; /*se cambia el color de la letra */
}
h2{ /*se aplica estilo al encabezado h2*/
    font-size: 24px;/*se cambia el tamaño de la letra */
}
h3{ /*se aplica estilo al encabezado h2*/
    margin: 10px;/*se cambia el margen de la letra */
}
p{ /*se aplica estilo al encabezado p*/
    background-color:wheat;/*se cambia el color del fondo de la letra */
    color:palevioletred/*se cambia el color de la letra */
}
a{ /*se aplica estilo al encabezado a*/
    text-decoration: none;/*se cambia el estilo de la letra */
    color:rgb(150, 105, 105)/*se cambia el color de la letra */
}